/* wwwroot/css/carrinho.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ff6f61;
    text-align: center;
    margin-bottom: 20px;
}

.item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

    .item h4 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #ff6f61;
    }

    .item img {
        width: 200px;
        height: 150px;
        border-radius: 5px;
        margin-bottom: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .item p {
        font-size: 16px;
        color: #777;
        margin-bottom: 5px;
    }

.remove-button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
}

    .remove-button:hover {
        background-color: #e04e42;
    }


.user-details {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

    .user-details p {
        font-size: 16px;
        color: #333;
        margin-bottom: 10px;
    }

    .user-details input[type="text"] {
        width: 100%;
        padding: 8px;
        border-radius: 3px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

.checkout-button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

    .checkout-button:hover {
        background-color: #e04e42;
    }

.payment-options {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

    .payment-options h2 {
        color: #ff6f61;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .payment-options label {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
        color: #333;
    }

    .payment-options input[type="radio"] {
        margin-right: 5px;
    }