<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/8305a8a4-3536-45dd-8e03-1afa3a5da06a/resourceGroups/puc/providers/Microsoft.Web/sites/burguerquest</ResourceId>
    <ResourceGroup>puc</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://burguerquest.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://burguerquest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$burguerquest</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>